@charset "utf-8";

/* body::-webkit-scrollbar{
    width:10px;
} */
/* body::-webkit-scrollbar-thumb{
    background-color:#488eb0;
    background-color: #003296;
    background-color: #393939;
    border-radius: 5px;
} */

body{
    /* background-color: #fafafa; */
    /* background-color: #fbfbfb; */
    background-color: #f7f7f7;
}

/* header 헤더 */


/* =============================================================== */
/* ===== 스크롤 마우스 애니메이션 ===== */
.mouse{
    width:30px;
    height:45px;
    /* border:3px solid #488eb0; */
    border:3px solid #393939;
    background-color: #fff;
    /* position:fixed; */
    position:absolute;
    /* left:49%; */
    left:50%;
    /* bottom:40px; */
    bottom:20px;
    border-radius: 14px;
    text-align: center;
    z-index: 10;
}
.scroll_move{
    width:5px;
    height:5px;
    /* background-color: #488eb0; */
    background-color: #393939;
    display:block;
    position:absolute;
    top:5px;
    left:39.5%;
    border-radius: 50%;
    animation:scroll1 1.4s linear infinite;
}
@keyframes scroll1{
    0%{top:5px}
    100%{top:18px}
}
.scroll_text{
    /* color:#488eb0; */
    color:#393939;
    font-size:1.3rem;
    font-weight: bold;
    position:absolute;
    top:2.5rem;
    right:-0.7rem;
}

/* =============================================================== */
/* footer */
footer{
    width:100%;
    /* height:110px; */
    /* height:130px; */
    /* background-color: rgba(234, 244, 254,0.8); */
    /* background-color: #488eb0; */
    /* background-color: #154963; */
    background-color: #393939;
}

.footer-wrap{
    width:1400px;
    height:100%;
    margin:0 auto;
    text-align: center;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
@media (min-width:1400px){
    footer{
        height:130px;
    }
}
@media (max-width:1399px){
    footer{
        padding:33px 0;
    }
    .footer-wrap{
        width:100%;
    }
}
.footer-wrap p{
    /* font-size:1.2rem; */
    /* font-size:1.125rem; */
    /* font-size: 1rem; */
    font-size:1.2rem;
}
.footer-wrap p:nth-child(1){
    color:#f7f7f7;
}
.footer-wrap p:nth-child(2){
    color:#ababab;
    font-size: 1.1rem;;
}

/* @media (max-width:1399px){
    .footer-wrap{
        width:90vw;
    }
} */

@media (max-width:767px){
    .footer-wrap p:nth-child(1){
        font-size:2.5vw;
    }
    .footer-wrap p:nth-child(2){
        font-size:2.3vw;
    }
}


/* =============================================================== */
/* topbtn */
.topbtn{
    width:50px;
    height:50px;
    /* padding:12px 0; */
    padding:5px 0;
    background-color:rgba(255,255,255,0.8);
    /* color:#488eb0; */
    /* color:#003296; */
    line-height: 13px;
    /* color:#393939; */
    /* color:#003296; */
    color:#4E9525;
    /* border:3px solid #488eb0; */
    /* border:3px solid #003296; */
    border:3px solid #4E9525;
    /* border:2px solid #393939; */
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    z-index:5;
    animation:bounce 2s linear infinite;
}
.topbtn span:nth-child(1){
    font-size:12px;
}
@keyframes bounce{
    0%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        
        transform: translateY(-10%);
    }
}